<ion-menu side="start" menuId="side" contentId="lang">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Languages available</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item [routerLink]="'/home'" lines="none">
                <ion-label>Home</ion-label>
            </ion-item>
            <ion-item *ngFor="let lang of languageService.languages | async" lines="none" routerLink="{{nextLoc}}{{lang.id}}">
                <ion-label>{{lang.originalLanguage.charAt(0).toUpperCase().concat(lang.originalLanguage.slice(1))}}
                    to {{lang.translatedLanguage.charAt(0).toUpperCase().concat(lang.translatedLanguage.slice(1))}}</ion-label>
            </ion-item>
            <ion-card *ngIf="!addLanguageMode" class="ion-text-center" (click)="addLanguage()" @fadeSlideInOut>
                <ion-card-header>
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                </ion-card-header>
                    <ion-card-subtitle>Add more languages...</ion-card-subtitle>
            </ion-card>
            <ion-card *ngIf="addLanguageMode" @fadeSlideInOut>
                <ion-card-header>
                    <ion-input [value]="fromLanguage" (ionChange)="updateFromLanguage($event)" placeholder="From..."></ion-input>
                </ion-card-header>
                <ion-card-header>
                    <ion-input [value]="toLanguage" (ionChange)="updateToLanguage($event)" placeholder="To..."></ion-input>
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                    <ion-icon (click)="successAdd()" class="success" size="large" name="checkmark-outline"></ion-icon>
                    <ion-icon (click)="cancelAdd()" class="fail" size="large" name="close-circle-outline"></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-content>
</ion-menu>
