<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="side" id="lang"></ion-menu-button>
        </ion-buttons>
        <ion-title>Custom Translator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-item lines="none">
                <h3>
                    Welcome to Custom Translator
                </h3>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item lines="none">
                <ion-label>This page is still work in progress</ion-label>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">You can use the rest of the app just by clicking on side menu and
                    choosing a language
                </ion-label>
            </ion-item>
        </ion-row>
    </ion-grid>
</ion-content>

