ion-searchbar {
  --border-radius: 25px;
  --background: #9d9fa629;
}
.cross{
  position: relative;
  left: 25%;
}
.success{
  color: lightgreen;
}
.fail{
  color: red;
}
.icon-card{
  box-shadow: none !important;
}
.plus-icon{
  position: relative;
  top: 10px;
  font-size: 32px;
}
