<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="side" id="lang"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="language&&reverseMode" @fadeSlideHorizontal>
                {{language.translatedLanguage.charAt(0).toUpperCase().concat(language.translatedLanguage.slice(1))}}
                to {{language.originalLanguage.charAt(0).toUpperCase().concat(language.originalLanguage.slice(1))}}
        </ion-title>
        <ion-title *ngIf="language&&!reverseMode" @fadeSlideHorizontal>
            {{language.originalLanguage.charAt(0).toUpperCase().concat(language.originalLanguage.slice(1))}}
            to {{language.translatedLanguage.charAt(0).toUpperCase().concat(language.translatedLanguage.slice(1))}}
        </ion-title>
        <ion-buttons class="ion-text-center" slot="end" (click)="reverseModeOn()">
            <ion-icon color="danger" slot="end" name="swap-horizontal-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar *ngIf="!reverseMode" placeholder="Search translation..." [value]="searchWord"
                               (ionChange)="searchOriginal($event)"
                               debounce="400"></ion-searchbar>
                <ion-searchbar *ngIf="reverseMode" placeholder="Search translation..." [value]="searchWord"
                               (ionChange)="searchTranslated($event)"
                               debounce="400"></ion-searchbar>
            </ion-col>
            <ion-col *ngIf="!addWordOption">
                <ion-icon class="plus-icon" name="add-outline"
                          (click)="addWordOption=true"></ion-icon>
            </ion-col>

        </ion-row>
        <ion-row *ngIf="addWordOption" @fadeSlideInOut>
            <ion-col *ngIf="addWordOption" size="9">
                <ion-card>
                    <ion-card-header>
                        <ion-input (ionChange)="updateOriginalWord($event)" [value]="originalWord"
                                   placeholder="Enter original word"></ion-input>
                        <ion-input (ionChange)="updateTranslateWord($event)" [value]="translatedWord"
                                   placeholder="Enter translated word"></ion-input>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col *ngIf="addWordOption" size="3">
                <ion-card class="icon-card">
                    <ion-card-header class="ion-text-center">
                        <ion-icon *ngIf="addWordOption" class="success" size="large" name="checkmark-outline"
                                  (click)="clickSuccess()"></ion-icon>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <ion-icon *ngIf="addWordOption" class="fail" size="large" name="close-circle-outline"
                                  (click)="clickX()"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col>
                <div *ngIf="words?.length>0&&searchWord.length>0">
                    <ion-item *ngFor="let word of words">

                        <ion-card-header *ngIf="!reverseMode">
                            <ion-card-title>{{word.original.charAt(0).toUpperCase().concat(word.original.slice(1))}}</ion-card-title>
                            <ion-card-subtitle>{{word.translated.charAt(0).toUpperCase().concat(word.translated.slice(1))}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-header *ngIf="reverseMode">
                            <ion-card-title>
                                Original: {{word.translated.charAt(0).toUpperCase().concat(word.translated.slice(1))}}</ion-card-title>
                            <ion-card-subtitle>
                                Translated: {{word.original.charAt(0).toUpperCase().concat(word.original.slice(1))}}</ion-card-subtitle>
                        </ion-card-header>
                        <!--<ion-button color="secondary" slot="end"><ion-icon name="build-outline"></ion-icon></ion-button>-->
                        <ion-button color="danger"
                                    (click)="deleteWord(word.id,word.original.charAt(0).toUpperCase().concat(word.original.slice(1)))"
                                    slot="end">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-item>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
